version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    network_mode: service:db

  db:
    image: mongodb/mongodb-atlas-local:8.0
    hostname: local_dev_atlas
    environment:
      - MONGODB_INITDB_ROOT_USERNAME=decodingml
      - MONGODB_INITDB_ROOT_PASSWORD=decodingml
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb

volumes:
  mongodb_data:
  mongodb_config:
